#root {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--surface);
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--surface);
}

.game {
  padding: 0.5rem 1.5rem;
  background-color: var(--surface);
  border-radius: 1rem;
  max-width: calc(100% - 0rem);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.board-scrollable {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}

.board {
  box-sizing: border-box;
  --cell-size: 2rem;
  overflow: auto;
  position: relative;
  border-radius: 0.5rem;
  overflow: scroll;
  margin: 0 auto;
  max-width: 100%;
}

.row {
  display: flex;
  flex-shrink: 0;
  font-size: 0;
  line-height: 0;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--cell-size) * 0.75);
  font-weight: 700;
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid 1px var(--cell-border-color);
  user-select: none;
  cursor: default;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
}

.cell img {
  width: 70%;
  height: 70%;
}

.red {
  background-color: var(--red);
}

div.green {
  background-color: var(--green);
}

.cell.one {
  color: var(--one);
}

.cell.two {
  color: var(--two);
}

.cell.three {
  color: var(--three);
}

.cell.four {
  color: var(--four);
}

.cell.five {
  color: var(--five);
}

.cell.six {
  color: var(--six);
}

.cell.seven {
  color: var(--seven);
}

.cell.eight {
  color: var(--eight);
}

.overlay {
  --overlay-light: #fff;
  --overlay-mid: #ccc;
  --overlay-dark: #aaa;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-mid);
  border-style: solid;
  border-width: 2.25px;
  border-top-color: var(--overlay-light);
  border-left-color: var(--overlay-light);
  border-bottom-color: var(--overlay-dark);
  border-right-color: var(--overlay-dark);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 8px #33333366;
  position: absolute;
}

.question-mark {
  color: var(--btn-active);
  font-size: calc(var(--cell-size) * 0.8);
  font-weight: 700;
  line-height: 1;
}

img.cross-flag {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: 1rem;
  white-space: nowrap;
}

.header-buttons {
  display: flex;
  gap: 0.25rem;
}

.header-label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header-label.mines-left {
  min-width: 50px;
}

.header-label.timer {
  font-variant-numeric: tabular-nums;
}

.header-icon {
  width: 1em;
  height: 1em;
}

.win {
  color: var(--cell-mine-green);
}

.game-over {
  color: var(--cell-mine-red);
}

.select-level {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
}

.select-level li {
  flex-grow: 1;
}

.select-level .button {
  width: 100%;
  display: flex;
  padding: 0.25em 1rem;
  justify-content: center;
  border-radius: 0.25rem;
  transition: background-color 0.15s;
  text-transform: capitalize;
}

.select-level button.active {
  background-color: var(--btn-active);
}

img {
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;
}

.button img {
  width: 1.125em;
  height: 1.125em;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .button img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.button {
  border: none;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.solid {
  padding: 0.5rem;
  background-color: var(--btn-color);
  color: var(--surface);
}

.button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.debug-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 30dvh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 12px;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
  border-radius: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.debug-popup ul {
  overflow-y: auto;
  max-height: 100%;
}

.pause-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  backdrop-filter: blur(8px);
  border-radius: 0.5rem;
  overflow: hidden;
}

.pause-overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.pause-overlay-icon {
  width: 2.5rem;
  height: 2.5rem;
  border: solid 3.5px white;
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}

.pause-overlay-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0.5rem;
}

.pause-overlay-content h2 {
  line-height: 1.25;
}
