:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --app-bg: #151515;
  --text: #1a1a1a;
  --surface: #ccc;
  --btn-color: #151515;
  --btn-active: #555;
  --cell-border-color: #bbbbbb;
  --one: blue;
  --two: green;
  --three: tomato;
  --four: darkviolet;
  --five: darkred;
  --six: steelblue;
  --seven: black;
  --eight: black;
  --red: firebrick;
  --green: forestgreen;
  background-color: var(--app-bg);
  color: var(--text);

  overscroll-behavior-x: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-callout: none;
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;
}

html,
body {
  -webkit-user-select: none; /* Safari / iOS */
  -ms-user-select: none; /* Old Edge */
  user-select: none; /* Modern browsers */
  -webkit-touch-callout: none; /* Disable callout on long press (iOS) */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 380px;
  max-width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

#root {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-family: inherit;
  font-size: inherit;
}
